 {% extends  "base.html.twig" %}

{% block body %}



<table class="table">
	<thead>
		<tr>
            <th>prènom</th>
            <th>nom</th>
            <th>téléphone</th>
            <th>Email</th>
            <th>Civilité</th>
            <th>Role</th>
            <th>Mot de passe</th>
            
        </tr>
	</thead>
    

</table>

{% endblock %}
