{% extends "base.html.twig" %} 

{% block body %}
<h1>Bienvenue dans demoVente</h1>
    

<section class="row produits">
<div>
<h2>titre du produit</h2>
<div class="metadata">ecrit le 20/04/2022 à 19:45</div>
<div class="content">
<img src="http://picsum.photos/250/150" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem temporibus, perferendis corrupti quos at deserunt ea tenetur nihil reprehenderit illum, excepturi consequatur ducimus illo labore aspernatur ipsam animi non amet?</p>
<a href="{{ path('tshirt_show') }}" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>
</section>

<section class="row produits">
<div>
<h2>titre du produit</h2>
<div class="metadata">ecrit le 20/04/2022 à 19:45</div>
<div class="content">
<img src="http://picsum.photos/250/150" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem temporibus, perferendis corrupti quos at deserunt ea tenetur nihil reprehenderit illum, excepturi consequatur ducimus illo labore aspernatur ipsam animi non amet?</p>
<a href="{{ path('tshirt_show') }}" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>
</section>

<section class="row produits">
<div>
<h2>titre du produit</h2>
<div class="metadata">ecrit le 20/04/2022 à 19:45</div>
<div class="content">
<img src="http://picsum.photos/250/150" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem temporibus, perferendis corrupti quos at deserunt ea tenetur nihil reprehenderit illum, excepturi consequatur ducimus illo labore aspernatur ipsam animi non amet?</p>
<a href="{{ path('tshirt_show') }}" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>
</section>

{% endblock %}
